[Desktop Entry]
Type=Application
Name=Windows 10
Comment=Open Virt Manager Windows
Exec=virt-manager --connect qemu:///system --show-domain-console win10
