config/nvim/lazy-lock.json
config/fish/fish_variables
config/nvim/spell
config/nvim/.luarc.json
config/nvim/.php-cs-fixer.cache
config/qtile/__pycache__
config/qutebrowser/__pycache__/
config/qutebrowser/autoconfig.yml
config/qutebrowser/qsettings/
config/qutebrowser/.idea/
config/qutebrowser/bookmarks/
config/qutebrowser/bookmarks/urls
config/qutebrowser/quickmarks
config/qutebrowser/autoconfig.yml
config/hypr/monitors.conf
config/lazygit/state.yml
config/lf/bookmarks/
.idea/
.mypy_cache/
.php-cs-fixer.cache
