/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */

@define-color bg #222224;
@define-color bg1 #3c3c3e;
@define-color bg2 #57585b;
@define-color gray #96979a;
@define-color fg #d0d1d1;
@define-color red #de5d68;
@define-color green #76bb59;
@define-color yellow #fbb750;
@define-color orange #fda308;
@define-color blue #4cace6;
@define-color purple #bf67d6;
@define-color dark_purple #aa57d1;
@define-color cyan #18b5cd;

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 12px;
}

/* The whole bar */
#waybar {
  background: @bg;
  color: @fg;
}

/* Each module */
#battery,
#group-worldclock,
#clock,
#tray,
#cpu,
#memory,
#custom-fullscreen,
#custom-spacer {
  padding-left: 4px;
  padding-right: 4px;
  background-color: @bg1;
  color: @fg;
}

#custom-fullscreen {
  padding-left: 6px;
  padding-left: 6px;
  font-size: 18px;
}
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#window,
#mpris {
  padding-left: 10px;
  padding-right: 10px;
  color: @fg;
}

#custom-spacer {
  color: @gray;
}

#submap {
  padding-left: 10px;
  padding-right: 10px;
  background-color: @purple;
  color: @bg;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: @orange;
}

#battery.critical {
  color: @red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}



/* Workspaces */
#workspaces button.urgent {
  background-color: @red;
  color: @bg;
}
#workspaces {
  color: @fg;
  background-color: @bg1;
}

#workspaces button.visible {
  color: @fg;
  background-color: @bg1;
}
#workspaces .workspace-label {
  padding-left: 8px;
  padding-right: 8px;
}

/* Taskbar */
#workspaces.taskbar button {
  color: @fg;
  background-color: @bg;
}
#workspaces.taskbar .taskbar-window {
  background-color: @bg;
  color: @fg;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces.taskbar button.visible .workspace-label {
  color: @bg;
  background-color: @purple;
}
#workspaces.taskbar button.active .workspace-label {
  color: @bg;
  background-color: @blue;
}
#workspaces.taskbar .taskbar-window.active {
    background-color: @bg1;
}

/* Picker */
#workspaces.picker button.visible {
  color: @bg;
  background-color: @gray;
}

#workspaces.picker button.visible.hosting-monitor {
  color: @bg;
  background-color: @purple;
}

#workspaces.picker button.active.hosting-monitor {
  color: @bg;
  background-color: @blue;
}
#mpris.icon {
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
}
#mpris.status {
  padding: 0px 8px 0px 0px;
  margin: 0px 0px;
}
#mpris.icon.spotify {
  color: @green;
}
#mpris.icon.chromium,
#mpris.icon.firefox,
#mpris.icon.brave {
  color: @red;
}
#mpris:hover {
  background-color: @bg1;
}
#clock.au {
  border-color: @bg1 @bg1 @orange @bg1;
  border-width: 2px 0px;
  border-style: solid;
}
#clock.nl {
  border-color: @bg1 @bg1 @blue @bg1;
  border-width: 2px 0px;
  border-style: solid;
}
#clock.uk {
  border-color: @bg1 @bg1 @purple @bg1;
  border-width: 2px 0px;
  border-style: solid;
}
#clock.us {
  border-color: @bg1 @bg1 @red @bg1;
  border-width: 2px 0px;
  border-style: solid;
}

#cpu.icon,
#memory.icon {
  font-size: 7px;
  font-weight: 100;
}

